@font-face{
	font-family: moderne sans;
	src: url('fonts/moderne sans/MODERNE SANS.ttf');
}
@font-face{
	font-family: biko;
	src: url('fonts/biko/Biko_Regular.otf');
}
@font-face{
	font-family: building typeface;
	src: url('fonts/Building Typeface /Building Typeface by Leonardo Gubbioni/Building_Typeface.ttf');
}
@font-face{
	font-family: keep calm;
	src: url('fonts/keep_calm/KeepCalm-Medium.ttf');
}
html,body {
    margin: 0;
    padding: 0;
    overflow: auto;
}
p{
	text-align: center;
	width: 50vmax;
}
section{

}
.header{
	position: fixed;
	margin-left: auto;
	margin-right: auto;
	left: 0px;
	right: 0px;
	background-color: #FFF60D;
	width: 100vmax;
	z-index: 10;
}
.hide{
	display: none;
}
.h-center{
	margin-left: 10vmax;
}
.home{
	width: 100vmax;
}
.height-5{
	height: 5%;
}
.height-10{
	height: 10vh;
}
.height-15{
	height: 15vh;
}
.height-20{
	height: 20vh;
}
.height-25{
	height: 25vh;
}
.height-30{
	height: 30vh;
}
.height-40{
	height: 40vh;
}
.height-45{
	height: 45vh;
}
.height-50{
	height: 50vh;
}
.height-60{
	height: 60vh;
}
.height-70{
	height: 70vh;
}
.height-80{
	height: 80vh;
}
.height-90{
	height: 90vh;
}
.height-100{
	height: 100vh;
}
.name{
	font-weight: normal;
	text-align: center;
	font-size: 10vmax;
	width: 50vmax;
	top: 30%;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	font-family: building typeface;
}
.punchline{
	text-align: center;
	width: 30vmax;
	font-weight: lighter; 
	margin:0 auto;
	font-size: 3vmax;
	font-family: building typeface;
}
.frase-home{
	text-align: center;
	width: 60vmax;
	margin-left: auto;
	margin-right: auto;
	font-size: 2vmax;
	font-family: lobster;
}
.frase-code{
	text-align: center;
	width: 60vmax;
	margin-left: auto;
	margin-right: auto;
	font-size: 2vmax;
	margin-top: 5vmax;
	font-family: lobster;
}
.fa{
	font-size: 5vmax;
}
.menu{
	position: absolute;
	text-align: center;
	margin-left: 93vmax;
	margin-top: 25vmax;
}
.button{
	width: 15vmax;
	margin-left: auto;
	margin-top: 1.25vmax;
	font-size: 3vmax;
	font-family: building typeface;
	
}
.button>span{
	cursor: pointer;
}
.button>span:hover{
	border-bottom: thin solid #000000;
}
.round_button>i{
	padding-top: 2.5vmax;
}
.home_button{
	background-color: #20A0E2;
}
.code_button{
	background-color: #F2801A;
}
.blog_button{
	background-color: #44F21A;
}
.contact_button{
	background-color: #9B315B;
}
