@font-face{
	font-family: moderne sans;
	src: url('fonts/moderne sans/MODERNE SANS.ttf');
}
@font-face{
	font-family: biko;
	src: url('fonts/biko/Biko_Regular.otf');
}
@font-face{
	font-family: building typeface;
	src: url('fonts/Building Typeface /Building Typeface by Leonardo Gubbioni/Building_Typeface.ttf');
}
@font-face{
	font-family: keep calm;
	src: url('fonts/keep_calm/KeepCalm-Medium.ttf');
}
.name{
	padding-top: 10vh;
	font-size: 20vh;
	font-family: building typeface;
}
.round_button{
	cursor: pointer;
	width: 10vh;
	height: 10vh;
	border-radius: 50%;

}