@font-face{
	font-family: moderne sans;
	src: url('fonts/moderne sans/MODERNE SANS.ttf');
}
@font-face{
	font-family: biko;
	src: url('fonts/biko/Biko_Regular.otf');
}
@font-face{
	font-family: building typeface;
	src: url('fonts/Building Typeface /Building Typeface by Leonardo Gubbioni/Building_Typeface.ttf');
}
@font-face{
	font-family: keep calm;
	src: url('fonts/keep_calm/KeepCalm-Medium.ttf');
}
html,body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}
p{
	text-align: center;
	width: 50vw;
}
section{

}
.header{
	background-color: #EC0F0F;
	width: 100vw;
	height: 10vh;
}
.hide{
	display: none;
}
.h-center{
	margin-left: 10vw;
}
.home{
	width: 100vw;
}
.name{
	font-size: 10vh;
	font-family: building typeface;
}
.punchline{
	margin-top: 3vh;
	font-size: 4vh;
	font-family: biko;
}
.fa{
	font-size: 5vh;
}
.menu{
	position: absolute;
	text-align: center;
	margin-left: 93vw;
	margin-top: 25vh;
}
.button{
	font-size: 10vh;
	font-family: building typeface;
	cursor: pointer;
}
.round_button>i{
	padding-top: 2.5vh;
}
.home_button{
	background-color: #20A0E2;
}
.code_button{
	background-color: #F2801A;
}
.blog_button{
	background-color: #44F21A;
}
.contact_button{
	background-color: #9B315B;
}
